.carousel-item {
    height: 39.75rem;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #777;
}

.btn-color {
    background-color: #fd7e14;
}

.slide1 {
    position: absolute;
    top: 430px;
    left: 63%;
}

.slide2 {
    position: absolute;
    top: 20%;
    left: 63%;
}

.slide3 {
    position: absolute;
    top: 32%;
    left: 68%;
}

/* Banner */

.banner {
    width: 100%;
}

.banner-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 265px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner-category {
    height: 50px;
    background: white;
    min-width: 180px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
}

.banner-category a {
    display: block;
    color: black;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    width: 100%;
    text-decoration: none;
}

.banner-category a:hover {
    color: rgb(206, 127, 140);
}

.line {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 0.35rem;
}

.love {
    margin-left: 26%;
    margin-right: 7%;
}

.cart {
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
}

.card-title {
    font-size: 15px;
}

.card {
    box-shadow: 0 0 0 1px #E2E9ED;
    transition: 0.2s all;
}

.card:hover {
    z-index: 1;
    box-shadow: 0 8px 50px 1px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.card img{
    height: calc(100vh / 2.24);
}

.new-arrival {
    height: calc(100vh / 2.24);
    z-index: -1;
}

.new_arrivals_label {
    position: relative;
    bottom: 17rem;
    left: 1rem;
    border: 1px solid red;
    color: white;
    background-color: red;
    border: 1px solid red;
    padding: 3px;
    font-weight: bold;
    z-index: 0;
}

.slick-prev::before, .slick-next::before{
    color: black;
}

.love-purchase {
    margin-left: 28%;
    margin-right: 0;
}

.love-purchase i {
    font-size: 19px;
}

.review {
    margin-top: 85px;   
}

.review1, .review2, .review3 {
    border: 1px solid gray;
}

.avatar img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* Brand Section */
.brand-section {
    margin-top: 85px;
}
 
.brand-item img {
    height: 12rem;
    width: 12rem;
} 

.brand-item {
    height: 12rem;
    width: 12rem;
    margin-left: auto;
    margin-right: auto;
}

.bi1 {
    float: right;
}

.bi3 {
    float: left;
}

/* footer */
footer {
    border: 1px solid black;
}

.title {
    width: 73%;
    font-size: 23px;
}

.info {
    font-size: 15px;
}

.media {
    color: gray;
}

.fast-access {
    margin-left: 65px;
}

.policy {
    margin-left: 20px;
}

.ways-to-pay {
    margin-left: 20px;
}

.verrified {
    margin-left: 20px;
}

.fa-facebook:hover {
    color: rgb(74, 74, 218);
}

.fa-instagram:hover {
    color: purple;
}

.fa-tiktok:hover {
    color: white;
}